@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 90%;
    max-width: 400px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.text-section,
.voice-section {
    margin-bottom: 20px;
}

.text-title,
.voice-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

#text,
#voice {
    width: 95%;
    border: none;
    outline: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.submit {
    background: linear-gradient(135deg, #00c897, #009e76);
    color: white;
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.submit:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    height: 3rem;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsivo */
@media screen and (max-width: 500px) {
    main {
        max-width: 82%;
        padding: 20px;
    }

    #text,
    #voice {
        font-size: 14px;
        width: 96%;
        border: none;
        outline: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
        color: #333;
    }

    .submit {
        font-size: 1.2rem;



    }




}