@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
}



main {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 90%;
    max-width: 400px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.text-section,
.voice-section {
    margin-bottom: 20px;
}

.text-title,
.voice-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.logo {
    width: 100px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Espaçamento entre a logo e o título */
}
#text,
#voice {
    width: 95%;
    border: none;
    outline: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

#text {
    resize: vertical; /* Permite que a textarea seja redimensionada verticalmente */
}

.submit {
    background: linear-gradient(135deg, #00c897, #009e76);
    color: white;
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.dark-mode-button {
    background-color: #333;
    color: #fff;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.conversion-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 200, 150, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 9999;
}
.submit:hover {
    background: linear-gradient(135deg, #009e76, #00c897);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    height: 3rem;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

/* Responsivo */
@media screen and (max-width: 500px) {
    main {
        max-width: 82%;
        padding: 20px;
    }

    #text,
    #voice {
        font-size: 14px;
        width: 96%;
        border: none;
        outline: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
        color: #333;
    }

    .submit {
        font-size: 1.2rem;
    }
}
